<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/parkint/" target="_blank">@ParkinT</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/ParkinT/HireMe.git" target="_blank">@ParkinT</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/thomparkin" target="_blank">linkedin.com/in/thomparkin</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://parahacker.com/" target="_blank">ParaHacker.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:parkin_thom@hotmail.com" target="_blank">Thom_Parkin@about.me</a></p>